/*

color pallet 1

#E8E8E8 - light
#F05454 - red
#30475E - navy
#222831 - dark

*/


/* GLOBAL */
* {
  box-sizing: border-box;
}

body, html {
  height: 100vh;
}

body {
  background-color: #E8E8E8;

  color: #222831;

  font-family:'Consolas', Courier, monospace;

}

/* APP CONTAINER*/


.todo {

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;


  padding: 50px 0;
  

}

.todo__content, .todo-input {
  padding: 30px;

  border: 2px solid black;
  box-shadow: 10px 10px 0px 1px rgba(0,0,0,1);

  min-width: 500px;
}

.todo__content {

  margin-bottom: 35px;

}

.todo__title {
  font-size: 25px;
  border: 2px solid black;
  padding: 5px 20px 5px 20px;
}

/* Inputs and Buttons */

.todo-input {

  min-width: 500px;

  display: flex;

  flex-wrap: wrap;

}

.todo__input {
  height: 40px;
  flex-grow: 1;
  margin-right: 15px;
  border: 1px solid black;
  border-radius: 0;

}

.todo__input:focus {
  outline: none;
  border: 1px solid #F05454;
}

.todo__button {
  border-radius: 0;
  border: 1px solid black;
  background-color: #F05454;

  padding: 0 20px 0 20px;
}

.todo__status {
  margin-top: 5px;
  flex-basis: 100%;
}


.todo__button:hover {
  cursor: pointer;
  color: #E8E8E8;
  background-color: #30475E;
  border: 1px solid #30475E;
}

.todo__button:active {
  background-color: #1a7237;

}

/* TODO item controls */

.todo__item--text {
  padding-left: 5px;
}

.todo__list {
  padding: 0;
}
  
.todo__item__wrapper {
  display: flex;

  justify-content: space-between;
}

.todo__item__content, .todo__item__actions {
  display: inline-flex;
}

.todo__item {
  padding: 15px;
}

.todo__item__actions {
  visibility: hidden;
}

.todo__item:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

#todo__list li:hover .todo__item__actions{
  background-color: #d3d3d3;
  cursor: pointer;
  visibility: visible;
}

.todo__item--delete {
  padding-right: 5px;
}


